/* SceneC1.css */


.Button1 {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255, .2);
    width: 230px;
    height: 100px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1; 
}

.Button2 {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255, .2);
    width: 230px;
    height: 100px;
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%);
    position: fixed;
    z-index: 1; 
}
.Button1:hover {
    background-color: rgb(255, 255, 255, 0.5);
    transform: translate(-48%, -48%);
    scale: 104%;
}

.Button1:active {
    background-color: rgb(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    scale: 100%;
}

.Button2:hover {
    background-color: rgb(255, 255, 255, 0.5);
    transform: translate(48%, -48%);
    scale: 104%;
}

.Button2:active {
    background-color: rgb(255, 255, 255, 0.5);
    transform: translate(50%, -50%);
    scale: 100%;
}
